mixin feature(img, title, subtitle, description)
    img(src=img, alt="Feature Image", class="rounded-circle img-fluid img-raised")
    h4(class="title") #{title}
    if subtitle
        p(class="category text-primary") #{subtitle}
    p(class="description") #{description}