mixin main_header(bg_img, logo_img, title, description)
    div(class="page-header clear-filter", filter-color="brand")
            div(class="page-header-image", data-parallax="true", style="background-image: url("+ bg_img +");")
            div(class="container")
                div(class="content-center brand")
                    img(class="banner-logo", src=logo_img alt="Logo")
                    h1(class="h1-seo") #{title}
                    h3 #{description}