footer.footer-wrapper.section.bg-light
    img.center-block(src="./assets/logo.png", alt='Logo')
    ul
        li
            a(href="/") Home
        li &bull;
        li
            a(href="/feature") Features
        li &bull;
        li
            a(href="/services") Services
        li &bull;
        li
            a(href="/contact") Contact Us
    ul
        li &copy; 2017 First in Software. All Rights Reserved.