script(src='./libs/jquery/dist/jquery.min.js')
script(src='./libs/bootstrap/dist/js/bootstrap.min.js')
script(src='./libs/bootstrap-autohide-navbar/dist/bootstrap-autohide-navbar.js')
script(src='./js/script.min.js')