script(src='./libs/jquery/dist/jquery.min.js')
script(src='./libs/bootstrap/dist/js/bootstrap.min.js')
script(src='./libs/bootstrap-autohide-navbar/dist/bootstrap-autohide-navbar.js')
script.
    $(function () {
        'use strict';
        
        $('.navbar').bootstrapAutoHideNavbar({
            shadow: false
        });
    });