doctype html
html(eng="en")
    include includes/head.pug
        
    body
        include includes/navbar.pug
        
        section.main-wrapper
            block content
        
        include includes/scripts.pug