doctype html
html(eng="en")
    include includes/head.pug
        
    body
        include includes/navbar.pug
        
        section
            block content
        
        //include includes/footer.pug