doctype html
html(eng="en")
    include components/head.pug
        
    body
        include components/navbar.pug

        block content
            
        include components/footer.pug
        include components/scripts.pug