extends ../layout.pug

block content
    include ../components/header
    include ../components/features
    include ../components/statistics
    include ../components/carousel
    include ../components/split_info
