extends ../layout.pug

block content
    section.banner
        img.img-responsice(src="./assets/home-banner.jpg", alt="Home Banner", width="100%")
        .dot-matrix
        .content
            span.title Reponder
                span 360
            span.subtitle COMPLETE INCIDENT RESPONSE SOFTWARE FOR FIRST RESPONDERS AVAILABLE ON ANY DEVICE

    section.features.container
        .row
            each item in self.features
                .col-md-4.col-sm-6
                    .features-card
                        img.center-block.text-center(src=item.img_location, alt=item.title)
                        span.title #{item.title}
                        span.description #{item.description}

    section.about-products
        .row
            .container
                .col-sm-6
                .col-sm-6
                    p Responder360 is the complete incident reponse system for first responders that runs on any device.  The “all-in-one” interface enables users to quickly and easily find dispatched locations, view incident data, pre-plans, hydrant locations, other responding apparatus, and much more!  A multi-jurisdictional system that enables greater collaboration between mutual aid departments by easily sharing information.
            .row
                .container
                    .col-sm-6
                        p Improve real time situational awareness in the field to help increase response safety, reduce response times and improve operational efficiency by getting critical data into the responder’s hands while en route or on scene.
                    .col-sm-6
    
    section.testimonios
        img.img-responsice(src="./assets/bg1.jpg", alt="Wallpaper", width="100%")
        .dot-matrix