@import "./partials/_utils";
.h1-seo {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: $font-weight-light;
}

.banner-logo {
    max-width: 250px;
    margin-bottom: 40px;
}

.page-header[filter-color="brand"] {
    background: $color-brand-primary-gradient-opacity;
    background: linear-gradient(0deg, $color-brand-secondary-gradient-opacity, $color-brand-primary-gradient-opacity);
}

.bg-primary {
    background-color: $color-brand-primary !important;
}

.bg-secondary {
    background-color: $color-brand-secondary !important;
}

.navbar-collapse:before {
    background: $color-brand-secondary;
}

.social-description {
    display: inline-block;
    max-width: 150px;
    width: 145px;
    text-align: center;
    margin: 15px 10px;
}

.bg-dropback {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}