@import "./partials/_utils";

.features-card {
    margin-bottom: spacing(6);
    min-height: 270px;

    img {
        
    }

    .title {
        display: block;
        text-transform: uppercase;
        text-align: center;
        font-weight: $font-weight-regular;
        color: $color-secondary-text;
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    .description {
        display: block;
        text-align: center;
        font-weight: $font-weight-thin;
        color: $color-secondary-text;
    }
}

.dot-matrix {
    background: url("../assets/dot.png");
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}