section(class="section text-center")
    div(class="container")
        h2(class="title") Features
        div(class="separator separator-primary")
        div(class="row")
            div(class="col-lg-4 col-sm-6")
                img(src='./assets/pre-planning-thumb.png', alt="Feature Image", class="rounded-circle img-fluid img-raised")
                h4(class="title") Pre-Planning
                p(class="category text-primary") Product
                p(class="description") 
                    | Manage and view occupancies on the map and retrieve pre-plan data at the touch of a finger.

            div(class="col-lg-4 col-sm-6")
                img(src='./assets/vehicle-tracking-thumb.png', alt="Feature Image", class="rounded-circle img-fluid img-raised")
                h4(class="title") AVL
                p(class="category text-primary") Product
                p(class="description") 
                    | Visually track the real time location of responding units.

            div(class="col-lg-4 col-sm-6")
                img(src='./assets/cad-thumb.png', alt="Feature Image", class="rounded-circle img-fluid img-raised")
                h4(class="title") CAD Integration
                p(class="category text-primary") Product
                p(class="description") 
                    | CADDirect integrates directly with your CAD system to access incident data, locate and view incidents on the map.

            div(class="col-lg-4 col-sm-6")
                img(src='./assets/hydrant-management-thumb.png', alt="Feature Image", class="rounded-circle img-fluid img-raised")
                h4(class="title") Hydrant Management
                p(class="category text-primary") Product
                p(class="description") 
                    | Manage and view your hydrants on the map color coded per NFPA.

            div(class="col-lg-4 col-sm-6")
                img(src='./assets/mobile-friendly-thumb.png', alt="Feature Image", class="rounded-circle img-fluid img-raised")
                h4(class="title") Desktop / Mobile
                p(class="category text-primary") Product
                p(class="description") 
                    | Works on all platforms and every major phone, tablet and PC. Windows, iPad, iPhone, Android and more!