div(class="page-header clear-filter", filter-color="brand")
    div(class="page-header-image", data-parallax="false", style="background-image: url('./assets/img/home-banner.jpg');")
    div(class="container")
        div(class="content-center brand")
            img(class="banner-logo", src="./assets/img/logo.png", alt="Logo")
            h1(class="h1-seo") Responder360
            h3 Software for First Responders