div(class="page-header page-header-small bg-secondary", filter-color="brand")
    div(class="container")
        div(class="content-center")
            h3(class="title") U.S. fire statistics
            p(class="category") Trends in fires, deaths and injuries
            div(class="content")
                div(class="social-description")
                    h2 1,298
                    p Fires
                    div(class="separator separator-primary")
                div(class="social-description")
                    h2 15,775
                    p Injuries
                    div(class="separator separator-primary")
                div(class="social-description")
                    h2 3,275
                    p Deaths
                    div(class="separator separator-primary")