$color-bg-primary: #FFFFFF;

$color-brand-primary: #7a2828;
$color-brand-secondary: #a73737;
$color-brand-light: #BBDEFB;
$color-brand-accent: #FFC107;

$color-primary-text:   #212121;
$color-secondary-text: #757575;
$color-divider:        #EEEEEE;

$color-white: #FFFFFF;

// $color-brand-primary: #0072ff;
// $color-brand-secondary: #00c6ff;

// $color-brand-primary: #182848;
// $color-brand-secondary: #4b6cb7;

// $color-brand-primary: #b31217;
// $color-brand-secondary: #e52d27;