$color-brand-primary: rgb(122, 40, 40);
$color-brand-secondary: rgb(167, 55, 55);
$color-brand-accent: rgb(255, 193, 7);

$color-brand-primary-gradient-opacity: rgba(122, 40, 40, 0.6);
$color-black-gradient-opacity: rgba(44, 44, 44, 0.2);